{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Détail {{ member.name }}{% endblock %}

{% block body %}
    <h1>Détail du membre : {{ member.firstname }}</h1>

    <div class="card border-primary mb-3 text-center" bis_skin_checked="1">
        <h3 class="card-header text-white bg-primary border-primary">Profil de {{ member.pseudo }}</h3>
        <div class="card-body bg-light border-primary" bis_skin_checked="1">
            <h5 class="card-title">{{ member.firstname }} <span>{{ member.name }}</span> </h5>

        </div>

        {% if member.filename %}
            <img src="{{ asset(app_images_member_directory ~ '/' ~ member.filename) }}"
                 class="imageForm card-img-top img-fluid rounded mx-auto d-bloc " alt="Photo du membre" >
        {% endif %}

        <ul class="list-group list-group-flush">
            <li class="list-group-item border-primary"><span>Téléphone : </span>{{ member.phone }}</li>
            <li class="list-group-item border-primary"><span>Email : </span>{{ member.mail }}</li>
            <li class="list-group-item border-primary"><span>Campus : </span>{{ member.campus.name }}</li>
        </ul>
        {% if app.user == member %}
            <div class="card-body" bis_skin_checked="1">
                <a href="{{ path('member_update', {'id': member.id}) }}" class="card-link">Modifier le profil</a>
            </div>
        {% endif %}
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-sm" href="{{ path('main_home') }}" title="Retour à l'accueil">Retour</a>
    </div>


{% endblock %}