{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Détail {{ member.name }}{% endblock %}

{% block body %}
    <h1>Détail du membre : {{ member.firstname }}</h1>

    <div class="card mb-3 text-center" bis_skin_checked="1">
        <h3 class="card-header">Profil de {{ member.pseudo }}</h3>
        <div class="card-body" bis_skin_checked="1">
            <h5 class="card-title">Nom : {{ member.name }}</h5>
            <h6 class="card-subtitle text-muted">Prénom : {{ member.firstname }}</h6>
        </div>
        {% if member.filename %}
            <img src="{{ asset(app_images_member_directory ~ '/' ~ member.filename) }}"
                 class="card-img-top img-fluid" alt="Photo du membre">
        {% endif %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Téléphone : {{ member.phone }}</li>
            <li class="list-group-item">Email : {{ member.mail }}</li>
            <li class="list-group-item">{{ member.campus.name }}</li>
        </ul>
        <div class="card-body" bis_skin_checked="1">
            {% if app.user %}
                <a href="{{ path('member_update', {'id': app.user.id}) }}" class="card-link">Modifier mon profil</a>
            {% endif %}
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-sm" href="{{ path('main_home') }}" title="Retour à l'accueil">Retour</a>
    </div>


{% endblock %}