{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Excursion Create{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1><br>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/flatly/bootstrap.css">

        <div class="form-group " bis_skin_checked="1">
            {{ form_start(excursionForm)}}

            {{ form_label(excursionForm.name) }}
            {{ form_widget(excursionForm.name) }}
            {{ form_errors(excursionForm.name) }}<br>
            {{ form_label(excursionForm.startDate) }}
            {{ form_widget(excursionForm.startDate) }}
            {{ form_errors(excursionForm.startDate) }}<br>
            {{ form_label(excursionForm.limitRegistrationDate) }}
            {{ form_widget(excursionForm.limitRegistrationDate) }}
            {{ form_errors(excursionForm.limitRegistrationDate) }}<br>
            {{ form_label(excursionForm.maxRegistrationNumber) }}
            {{ form_widget(excursionForm.maxRegistrationNumber) }}
            {{ form_errors(excursionForm.maxRegistrationNumber) }}<br>

            {{ form_label(excursionForm.duration) }}
            {{ form_widget(excursionForm.duration) }}
            {{ form_errors(excursionForm.duration) }}<br>

            {{ form_label(excursionForm.description) }}
            {{ form_widget(excursionForm.description) }}
            {{ form_errors(excursionForm.description) }}<br>

            <!-- ajouter le campus par défaut du user -->
            {{ form_label(excursionForm.campus) }}
            {{ form_widget(excursionForm.campus) }}
            {{ form_errors(excursionForm.campus) }}<br>
            {{ form_label(excursionForm.city) }}
            {{ form_widget(excursionForm.city) }}
            {{ form_errors(excursionForm.city) }}<br>

            {{ form_label(excursionForm.place) }}
            {{ form_widget(excursionForm.place) }}
            {{ form_errors(excursionForm.place) }}<br>

            <div> Ajouter un lieu
                <a href="{{ path('place_create') }}" title="Ajouter un lieu" target="_blank">
                <img src="{{ asset('img/Plus.png') }}"
                     alt="Plus" height="50px"
                >
            </a></div><br>
            <div class="BlockBtn">
           <div class="EditBtn"> {{ form_widget(excursionForm.create) }}</div><br>
           <div class="EditBtn">{{ form_widget(excursionForm.publish) }}</div> <br>
           <a href="{{ path('main_excursionList') }}" title="Ajouter un lieu" class="EditBtn btn btn-danger" >Annuler</a>
        </div>
            {{ form_end(excursionForm)}}

        </div>

    {% endblock %}

