{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Excursion Create{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1><br>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/flatly/bootstrap.css">

        <div class="form-group " bis_skin_checked="1">
            {{ form_start(excursionForm)}}
            {{ form_label(excursionForm.name) }}
            {{ form_widget(excursionForm.name) }}<br>
            {{ form_label(excursionForm.startDate) }}
            {{ form_widget(excursionForm.startDate) }}<br>
            {{ form_label(excursionForm.limitRegistrationDate) }}
            {{ form_widget(excursionForm.limitRegistrationDate) }}<br>
            {{ form_label(excursionForm.maxRegistrationNumber) }}
            {{ form_widget(excursionForm.maxRegistrationNumber) }}<br>
            {{ form_label(excursionForm.duration) }}
            {{ form_widget(excursionForm.duration) }} <br>
            {{ form_label(excursionForm.description) }}
            {{ form_widget(excursionForm.description) }}<br>
            <!-- ajouter le campus par défaut du user -->
            {{ form_label(excursionForm.campus) }}
            {{ form_widget(excursionForm.campus) }}<br>
            {{ form_label(excursionForm.city) }}
            {{ form_widget(excursionForm.city) }}<br>
            {{ form_label(excursionForm.place) }}
            {{ form_widget(excursionForm.place) }}<br>

            <div> Ajouter un lieu
                <a href="{{ path('place_create') }}" title="Ajouter un lieu" target="_blank">
                <img src="{{ asset('img/Plus.png') }}"
                     alt="Plus" height="50px"
                >
            </a></div><br>

            <button type="submit" name="Created" value="Created" class="btn btn-primary">Enregistrer</button>
            <button type="submit" name="Opened" value="Opened" class="btn btn-success">Publier</button>
            <a href="{{ path('main_excursionList') }}" title="Ajouter un lieu" class="btn btn-danger" >Annuler</a>
            {{ form_end(excursionForm)}}

        </div>

    {% endblock %}

