{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Excursion Delete{% endblock %}

{% block body %}
    <h1>Excursion Delete</h1><br>

    <div class="form-group " bis_skin_checked="1">

        <p>Nom de la sortie : {{ excursion.name }} </p>
        <p>Start date and time : {{ excursion.startDate | date('d M Y') }} à {{ excursion.startDate | date('H:i') }}</p>
        <p>Campus : {{ excursion.campus.name }}</p>
        <p>Lieu : {{ excursion.place.name}} </p>
        <p>Descriptions et infos : {{ excursion.description }}</p>

        {{ form_start(deleteExcursionForm) }}

        {{ form_label(deleteExcursionForm.reason) }}
        {{ form_widget(deleteExcursionForm.reason) }}
        {% if app.user == excursion.organizer or is_granted('ROLE_ADMIN') %}<br>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('main_excursionList') }}" title="Ajouter un lieu" class="btn btn-danger" >Annuler</a>
        {% endif %}

        {{ form_end(deleteExcursionForm) }}


    </div>


{% endblock %}