{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Excursion Delete{% endblock %}

{% block body %}
    <h1>Excursion Delete</h1>

    <div class="form-group " bis_skin_checked="1">

        {{ form_start(excursionForm)}}

        {{ form_label(excursionForm.name) }}
        {{ form_widget(excursionForm.name, {'attr': {'disabled': 'disabled'}}) }}<br>

        {{ form_label(excursionForm.startDate) }}
        {{ form_widget(excursionForm.startDate, {'attr': {'disabled': 'disabled'}}) }}<br>

        <!-- ajouter le campus par défaut du user -->
        {{ form_label(excursionForm.campus) }}
        {{ form_widget(excursionForm.campus, {'attr': {'disabled': 'disabled'}}) }}<br>

        {{ form_label(excursionForm.place) }}
        {{ form_widget(excursionForm.place, {'attr': {'disabled': 'disabled'}}) }}<br>

        {{ form_label(excursionForm.description) }}
        {{ form_widget(excursionForm.description) }}<br>

        {{ form_end(excursionForm, {'render_rest': false}) }}


    </div>

    {% if app.user == excursion.organizer or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('main_excursionList', {'id': excursion.id}) }}" class="badge bg-danger">Supprimer</a>
    {% endif %}
{% endblock %}