{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Excursion Details{% endblock %}


{% block body %}
    <h1>Détails de la sortie</h1><br>

    <div class="detailsContainer">
        <div class="detailsColumn">
            <p>Nom de la sortie : {{ excursion.name }} </p>
            <p>Date et heure de la sortie : {{ excursion.startDate | date('d M Y') }}
                à {{ excursion.startDate | date('H:i') }}</p>
            <p>Date limite d'inscription : {{ excursion.limitRegistrationDate | date('d M Y') }}</p>
            <p>Nombre de place : {{ excursion.maxRegistrationNumber }}</p>
            <p>Durée : {{ excursion.duration }} minutes</p>
            <p class="{% if excursion.state.caption == 'Canceled' %}red-text{% endif %}">Descriptions et infos
                : {{ excursion.description }}</p>


            {% if excursion.state.caption == 'Canceled' and excursion.reason is defined and excursion.reason is not empty %}
                <p class="red-text">Motif : {{ excursion.reason }}</p>
            {% endif %}
        </div>

        <div class="detailsColumn">
            <p>Campus : {{ excursion.campus.name }}</p>
            <p>Lieu : {{ excursion.place ? excursion.place.name : "" }} </p>
            <p>Rue : {{ excursion.place ? excursion.place.street : ""}}</p>
            <p>Code postal : {{ excursion.place ? excursion.place.city.postcode :"" }}</p>
            <p>Latitude : {{ excursion.place ? excursion.place.latitude : ""}}</p>
            <p>Longitude : {{ excursion.place ? excursion.place.latitude : ""}}</p>


        </div>
    </div>
    <br>
    {% if excursion.state.caption is same as("Opened") %}

    <p>Progression des inscriptions</p>

    <div class="progress" bis_skin_checked="1">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ (excursion.participants.count/ excursion.maxRegistrationNumber)*100}}%;" aria-valuenow=" {{ excursion.participants.count }} " aria-valuemin="0" aria-valuemax="{{ excursion.maxRegistrationNumber }}" bis_skin_checked="1"></div>
    </div><br>
    {% endif %}

    {% if is_granted('EXCURSION_EDIT_PUBLISH', excursion) %}
        <a href="{{ path('excursion_update', {'id': excursion.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('excursion_deletedraft', {'id': excursion.id}) }}" class="btn btn-danger">Supprimer</a>
    {% endif %}

    {% if is_granted('EXCURSION_VIEW_CANCEL', excursion) %}
        <a href="{{ path('excursion_delete', {'id': excursion.id}) }}" class="btn btn-danger">Annuler</a>
    {% endif %}

    {% if is_granted('EXCURSION_SUBSCRIBE', excursion) %}
        <a href="{{ path('excursion_subscribe', {'id': excursion.id}) }}" class="btn btn-info">S'inscrire</a>
    {% endif %}

    {% if is_granted('EXCURSION_UNSUBSCRIBE', excursion) %}
        <a href="{{ path('excursion_unsubscribe', {'id': excursion.id}) }}" class="btn btn-danger">Se désister</a>
    {% endif %}

    <br><br>
    <h2>Liste des participants</h2><br>

    <table class="table table-hover">
        <tbody>
        <tr class="table-light">
            <td>Pseudo</td>
            <td>Nom</td>
        </tr>
        {% if excursion.participants|length > 0 %}
            {% for participant in excursion.participants %}
                <tr>
                    <td><a href="{{ path('member_details', {'id' : participant.id}) }}"> {{ participant.pseudo }}</a></td>
                    <td> {{ participant.name }} </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>Il n'y a pas de participants</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}