{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Modifier la sortie{% endblock %}

{% block body %}
    <h1>Modifier la sortie</h1>
    <div class="form-group " bis_skin_checked="1">

        {{ form_start(excursionForm)}}
        {{ form_label(excursionForm.name) }}
        {{ form_widget(excursionForm.name) }}<br>
        {{ form_label(excursionForm.startDate) }}
        {{ form_widget(excursionForm.startDate) }}<br>
        {{ form_label(excursionForm.limitRegistrationDate) }}
        {{ form_widget(excursionForm.limitRegistrationDate) }}<br>
        {{ form_label(excursionForm.maxRegistrationNumber) }}
        {{ form_widget(excursionForm.maxRegistrationNumber) }}<br>
        {{ form_label(excursionForm.duration) }}
        {{ form_widget(excursionForm.duration) }} minutes. <br>
        {{ form_label(excursionForm.description) }}
        {{ form_widget(excursionForm.description) }}<br>
        <!-- ajouter le campus par défaut du user -->
        {{ form_label(excursionForm.campus) }}
        {{ form_widget(excursionForm.campus) }}<br>
        {{ form_label(excursionForm.city) }}
        {{ form_widget(excursionForm.city) }}<br>
        {{ form_label(excursionForm.place) }}
        {{ form_widget(excursionForm.place) }}<br>

        {% if app.user == excursion.organizer or is_granted('ROLE_ADMIN') %}
            <button type="submit" class="btn btn-primary">Modifier</button>
{#            <a href="{{ path('excursion_details', {'id': excursion.id}) }}" class="badge bg-warning">Modifier</a>#}
            <a href="{{ path('excursion_delete', {'id': excursion.id}) }}" class="badge bg-danger">Supprimer</a>
        {% endif %}

        {{ form_end(excursionForm)}}

    </div>


{% endblock %}