{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Modifier la sortie{% endblock %}

{% block body %}
    <h1>Modifier la sortie</h1>
    <div class="form-group " bis_skin_checked="1">

        {{ form_start(excursionForm)}}
        {{ form_label(excursionForm.name) }}
        {{ form_widget(excursionForm.name) }}
        {{ form_errors(excursionForm.name) }}<br>
        <br>
        {{ form_label(excursionForm.startDate) }}
        {{ form_widget(excursionForm.startDate) }}
        {{ form_errors(excursionForm.startDate) }}
        <br>
        {{ form_label(excursionForm.limitRegistrationDate) }}
        {{ form_widget(excursionForm.limitRegistrationDate) }}
        {{ form_errors(excursionForm.limitRegistrationDate) }}<br>
        {{ form_label(excursionForm.maxRegistrationNumber) }}
        {{ form_widget(excursionForm.maxRegistrationNumber) }}
        {{ form_errors(excursionForm.maxRegistrationNumber) }}<br>
        {{ form_label(excursionForm.duration) }}
        {{ form_widget(excursionForm.duration) }}
        {{ form_errors(excursionForm.duration) }}<br>
        {{ form_label(excursionForm.description) }}
        {{ form_widget(excursionForm.description) }}
        {{ form_errors(excursionForm.description) }}<br>
        <!-- ajouter le campus par défaut du user -->
        {{ form_label(excursionForm.campus) }}
        {{ form_widget(excursionForm.campus) }}
        {{ form_errors(excursionForm.campus) }}<br>
        {{ form_label(excursionForm.city) }}
        {{ form_widget(excursionForm.city) }}
        {{ form_errors(excursionForm.city) }}<br>
        {{ form_label(excursionForm.place) }}
        {{ form_widget(excursionForm.place) }}
        {{ form_errors(excursionForm.place) }}<br>

        {% if is_granted('EXCURSION_EDIT_PUBLISH', excursion) %}
            {{ form_row(excursionForm.create) }}<br>
            {{ form_row(excursionForm.publish) }}<br>

            <a href="{{ path('excursion_delete', {'id': excursion.id}) }}" class="btn btn-danger">Supprimer</a>
            <a class="btn btn-warning" href="{{ path('main_excursionList') }}" title="Annuler">Annuler</a>
        {% endif %}

        {{ form_end(excursionForm)}}

    </div>


{% endblock %}