<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid" bis_skin_checked="1">

        <a href="{{ path('main_home') }}" title="Retour à l'accueil">
            <img src="{{ asset('img/navLogo.png') }}"
                 alt="Sortir.com Logo"
            >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01" bis_skin_checked="1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campus</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>

                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('member_details', {'id': app.user.id}) }}" title="Voir mon profil">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}" title="Se déconnecter">
                        Se déconnecter
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}"
                       title="Se connecter">
                        Se connecter
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>